.checkboxInput {
  display: block;
  margin-right: 10px;
  width: 36px;
  height: 36px;
  appearance: none;
  border: 2px solid #dddddd;
  border-radius: 4px;
  margin-right: 10px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  position: relative;
}

.checkboxInput:checked {
  background-color: #92a134;
  border-color: #92a134;
}

.checkboxInput:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 10px;
  width: 12px;
  height: 20px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}
