/* Стили для модалки */
dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: white;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
  z-index: 9999;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modalContent {
  position: relative;
}

.modalImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: black;
  cursor: pointer;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.3s ease;
}

.thumbnail:hover {
  transform: scale(1.1); /* Увеличение миниатюры при наведении */
}