@use "../../assets/styles/mixin" as *;
@use "../../assets/styles/colors" as *;

.discountBtn {
  @include linkSectionNav;
  background-color: $green;
  color: $txt-white !important;
  &:hover {
    scale: 0.9;
    color: $txt-white !important;
  }
}

.navWrapper {
  display: none;
  @include on-tablet {
    flex-direction: column;
    gap: 12px;
    align-items: center;
    display: flex;
    max-width: 400px;
  }
  @include on-laptop {
    max-width: 494px;
  }

  @include on-design {
    max-width: 518px;
  }
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid $light-grey;
  @include on-mobile {
    padding: 30px 0;
  }
}
