@use '../../assets/styles/colors' as *;
@use '../../assets/styles/_mixin' as *;

.productContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
  height: fit-content;
  transition-duration: 300ms;
  @include on-tablet {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

.productImg {
  @include borderFilter;
  border-radius: 8px;
  overflow: hidden;
  grid-column: span 1;
  align-self: start;
  transition-duration: 300ms;
  @include on-mobile {
    grid-column: 1 / 2;
  }
}
.productImg:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  & .img {
    scale: 1.1;
  }
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition-duration: 300ms;
}

.productInfoWrapper {
  gap: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-column: span 1;

  @include on-mobile {
    align-items: flex-start;
    grid-column: 2;
    gap: 20px;
  }
}

.titleWrapper_mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: span 1;

  @include on-mobile {
    grid-column: 1 / 3;
  }
  @include on-tablet {
    display: none;
  }
}
.titleWrapper_tablet {
  display: none;
  @include on-tablet {
    display: flex;
  }
}
.productTitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: 3%;
  white-space: normal;
  @include on-tablet {
    font-size: 32px;
  }
  @include on-laptop {
    font-size: 40px;
  }
}

.flexWrapper {
  display: flex;
  align-items: baseline;
  gap: 16px;
  margin-top: 16px;
}

.productPrice {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.1;

  @include on-tablet {
    font-size: 36px;
  }

  @include on-laptop {
    font-size: 40px;
    line-height: 1.2;
  }
  @include on-design {
    font-size: 64px;
    line-height: 1.1;
  }
}

.productDiscountPrice {
  font-family: Montserrat;
  font-size: 24px;
  color: $txt-grey;
  text-decoration: line-through;
  line-height: 1.2;

  @include on-tablet {
    font-size: 28px;
  }

  @include on-laptop {
    font-size: 32px;
  }

  @include on-design {
    font-size: 40px;
    line-height: 1.3;
  }
}

.discountChip {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  background-color: $sale;
  color: $txt-white;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;

  @include on-tablet {
    font-size: 16px;
    padding: 6px 10px;
  }

  @include on-design {
    font-size: 20px;
  }
}

.actionsWrapper {
  width: 100%;
  @include on-laptop {
    display: flex;
    align-items: normal;
    gap: 16px;
    margin-top: 24px;
  }
}

.quantityControl {
  @include borderFilter;
  width: 167px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
  background: $txt-white;
  margin-bottom: 20px;

  @include borderFilter;
  @include on-tablet {
    min-width: 200px;
  }
}

.quantityBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  background: $txt-white;
  color: $txt-grey;
  font-size: 20px;
  cursor: pointer;
  @include borderFilter;
  transition: all 0.2s ease;

  @include on-mobile {
    width: 47px;
    height: 47px;
    font-size: 20px;
  }

  @include on-tablet {
    width: 58px;
    height: 58px;
    font-size: 22px;
  }

  @include on-laptop {
    font-size: 24px;
  }

  &:hover {
    background: #f2f6d3;
    color: $grey;
  }
}

.quantityValue {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 40px;
  background: $txt-white;
  font-size: 16px;
  color: $txt-grey;
  user-select: none;
  min-width: 40px;

  @include on-mobile {
    width: 70px;
    height: 47px;
    font-size: 16px;
  }
  @include on-tablet {
    flex: none;
    width: 84px;
    height: 58px;
    font-size: 24px;
  }

  @include on-laptop {
    width: 59px;
    height: 58px;
    font-size: 24px;
  }

  @include on-design {
    width: 84px;
    height: 58px;
    font-size: 24px;
  }
}

.addToCartBtn {
  width: 100%;
  margin: 0 auto;
  height: 40px;
  border: none;
  border-radius: 4px;
  background: $green;
  color: $txt-white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0 32px;
  border: 1px solid $green;
  background-color: $green;
  color: $txt-white;
  &:hover {
    color: $green;
    background-color: $light_green;
  }
  @include on-tablet {
    height: 44px;
    font-size: 17px;
    padding: 0 40px;
  }

  @include on-mobile {
    height: 58px;
    font-size: 18px;
    padding: 0 48px;
  }

  @include on-tablet {
    height: 58px;
    font-size: 18px;
    padding: 0 48px;
  }

  @include on-laptop {
    height: 58px;
    font-size: 18px;
    padding: 0 48px;
  }

  @include on-design {
    height: 58px;
    font-size: 24px;
    padding: 0 48px;
  }
}

.productDescriptionWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  grid-column: span 1;

  @include on-mobile {
    grid-column: 1 / 3;
  }
  @include on-tablet {
    gap: 14px;
  }

  @include on-laptop {
    display: none;
  }
}
.productDescriptionWrapper_laptop {
  display: none;
  @include on-laptop {
    display: block;
  }
}
.descriptionTitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;

  @include on-tablet {
    font-size: 19px;
  }

  @include on-laptop {
    font-size: 20px;
    line-height: 26px;
  }
}

.descriptionText {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;

  @include on-tablet {
    font-size: 15px;
  }

  @include on-laptop {
    font-size: 16px;
    line-height: 20.8px;
  }
}

body.dark {
  --svg-stroke: var(--link-color-light);
}
.moreBtn {
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
  transition-duration: 300ms;

  @include on-tablet {
    font-size: 15px;
  }

  @include on-laptop {
    font-size: 16px;
  }
}

.heartBtn {
  background-color: transparent;
  cursor: pointer;
  transition-duration: 300ms;
  justify-content: flex-end;
  & svg {
    stroke-width: 1.1;
    width: 40px;
    height: 40px;
    &:hover {
      stroke: $green;
    }

    @include on-tablet {
      width: 48px;
      height: 48px;
    }
  }
}
// ______Стили диалога
// dialog {
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   padding: 0;
//   background-color: blue;
//   border: none;
//   width: 90%;
//   height: 90%;
// z-index: 9999;
// overflow: hidden;
// }
// dialog::backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background: rgba(211, 7, 7, 0.7);
//   z-index: 9998;
// }
// .modalPhotoBackdrop {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background: rgba(0, 0, 0, 0.7);
//   z-index: -1;
// }

// .modalPhotoContent {
//   position: relative;
//   padding: 20px;
//   background: white;
//   border-radius: 10px;
//   max-width: 90%;
//   max-height: 90%;
//   overflow: hidden;
// }

// .modalImage {
//   width: 100%;
//   height: auto;
//   object-fit: contain;
//   display: block;
//   margin: 0 auto;
// }

// .productImg {
//   display: flex;
//   justify-content: center;
//   margin: 20px;
// }

// .img {
//   width: 200px;
//   height: 200px;
//   object-fit: cover;
//   cursor: pointer;
//   transition: transform 0.3s ease;
// }

// .img:hover {
//   transform: scale(1.1);
// }
