@use '../../assets/styles/mixin' as *;
@use '../../assets/styles/colors' as *;

.section {
  padding-top: 68px;
  padding-bottom: 40px;

  &_button__outlined {
    @include buttonOutlined;
    margin: auto;

    margin-top: 24px;

    &:hover {
      background-color: $light_green;
      cursor: pointer;
    }
    @include on-mobile {
      display: none;
    }
  }
}
