@use "../../assets/styles/mixin" as *;
@use "../../assets/styles/colors" as *;

.navIcons {
  display: flex;
  gap: 12px;
  cursor: pointer;
}
.svgLink {
  stroke-width: 1.1;
  width: 32px;
  height: 32px;
  @include on-tablet {
    width: 44px;
    height: 44px;
  }

  @include on-design {
    width: 46px;
    height: 46px;
  }
}
