@use "./colors" as *;
@mixin on-mobile {
  @media (min-width: 480px) {
    @content;
  }
}
@mixin on-tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin on-laptop {
  @media (min-width: 1000px) {
    @content;
  }
}

@mixin on-design {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin linkSectionNav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.26;
  border-radius: 6px;
  padding: 6px 16px;
  border: none;
  cursor: pointer;
  transition-duration: 300ms;
}

